<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Alexander Enrique Urieles Nieto" />
    
    <title>{{ page.title }}</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/site.css">
  </head>
  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1 class="title">Alexander Urieles</h1>
        <h2 class="tagline">Geek, compulsive programmer, anime fan and salsa music lover.</h2>
      </header>
    </div>

    {{ content }}

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">© 2013 <a href="http://uriel.es">Alexander Enrique Urieles Nieto</a></p>
        <p>Published using the Slate Theme</p>
      </footer>
    </div>
</body>
</html>